{% extends "base.html" %}
{% load static wagtailcore_tags  %}

{% block content %}

        {% if request.GET.tag|length %}
            <p class="font-bold my-4 md:my-12">Все статьи с тегом "{{ request.GET.tag }}"</p>
        {% endif %}

        <div class="mb-12 mt-12">
            {% for blogpage in blogpages %}
                <div class="mb-6 mt-6">
                    <p>
                        <a href="{% pageurl blogpage %}">{{ blogpage.title }}</a>
                    </p>
                    <div>
                        {% for tag in blogpage.specific.tags.all %}
                            <a href="/?tag={{ tag }}" class="tags mr-2">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% empty %}
                <p>С таким тегом ничего нет :(</p>
            {% endfor %}
        </div>


{% endblock %}



{% block lastPost %}
    <ul class="flex flex-wrap justify-between flex-col">
        {% for post in lastPosts %}
            <li class="navLi"><a href="{{post.specific.url }}" class="nav">{{ post.title }}</a></li>
        {% endfor %}    
    </ul>
{% endblock %}



{% block allTags %}
    {% for tag in getAllTags %}
        <a class="mr-1 tags" href="/?tag={{ tag }}">#{{ tag }}</a>
    {% endfor %}
{% endblock %}


{% block pagination %}

<ul class="pagination flex">

    {% if blogpages.has_previous %}
        {% if request.GET.tag|length %}
            <a href="/?tag={{ request.GET.tag }}&page={{ blogpages.previous_page_number }}">&#9664; Сюда</a>
        {% else %}
            <a href="?page={{ blogpages.previous_page_number }}">&#9664; Сюда</a>
        {% endif %}
    {% endif %}
    {% if blogpages.has_next %}
        {% if request.GET.tag|length %}
            <a href="/?tag={{ request.GET.tag }}&page={{ blogpages.next_page_number }}">Туда &#9654;</a>
        {% else %}
            <a href="?page={{ blogpages.next_page_number }}">Туда &#9654;</a>
        {% endif %}
    {% endif %}  </ul>
  
 
{% endblock %}