<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss/dist/tailwind.min.css"
    />
    <style>
        .error-text {
          font-size: 130px;
        }
    
        @media (min-width: 768px) {
          .error-text {
            font-size: 220px;
          }
        }
    
    </style>
</head>
<body>
  
  <div class="h-screen w-screen bg-gray-900 flex justify-center content-center flex-wrap">
    <p class="font-sans text-white error-text">404</p>
  </div>

    
</body>
</html>